/* You can add global styles to this file, and also import other style files */
.cursor-hand {
    cursor: pointer;
}
.flex-auto {
    flex: auto;
}
.h-w-100 {
    height: 100px;
    width: 100px;
}
.theme-background {
    background-color: dodgerblue;
}
.outline-none {
    outline: none;
}
.m-t-15 {
    margin-top: 15px;
}
.theme-button {
    background-color: dodgerblue;
    padding: 12px;
    border-radius: 6px;
    color: #ffff;
    border: none;
}
.error-message {
    margin: 15px;
    color: red;
}

@media (max-width: 768px) {
    .theme-button{
        margin-top: 30%;
    }
}