<div class="wrapper">
	<div class="login-box">
		<form class="form-container" (submit)="onSubmit()">
			<p style="font: 20px;">Add Employee</p>
			<div class="input-addon">
				<input class="form-element input-field" [(ngModel)]="name" [ngModelOptions]="{standalone: true}" placeholder="Name" type="text">				
			</div>
			<div class="input-addon">
				<input class="form-element input-field" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" placeholder="Email" type="email">
			</div>
			<div class="input-addon">
				<input class="form-element input-field" [(ngModel)]="phone" [ngModelOptions]="{standalone: true}" placeholder="Phone" type="number">
			</div>
			<div class="input-addon">
				<input class="form-element input-field" [(ngModel)]="image" [ngModelOptions]="{standalone: true}" placeholder="Image Source" type="text"> 
			</div>
			<span class="error-message" *ngIf="showErrorMessage">All fields are required</span>
			<input class="form-element is-submit" data-dismiss="modal" type="submit" value="Add Employee">
		</form>
	</div>
</div>