<div class="container">
  <div class="card" *ngFor="let item of employeeData">
    <div class="img-cover"><img
        [src]="item.src">
    </div>

    <div class="desc">
      <h1>{{item.name}}</h1>
      <span class="cursor-hand" (click)="gotoEmployeeDetails(item)"><a class="m-t-15">More details <svg width="19" height="14" viewBox="0 0 23 18" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path d="M0 9H22M12 1.5L20.9333 8.2C21.4667 8.6 21.4667 9.4 20.9333 9.8L12 16.5" stroke="white"
            stroke-width="3" />
        </svg></a></span>
    </div>
  </div>

</div>

<app-modal keyboard-event  (esc)="employeeService.showAddModal=false" *ngIf="employeeService.showAddModal" [(visible)]="employeeService.showAddModal"
  [version]="'style-2'">
  <app-add-employee></app-add-employee>
</app-modal>
